<!doctype html>
<html lang="en">
  <head>
    <title>WKHoops</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Lato&display=swap" rel="stylesheet">
  </head>
  
  <body>
    <br><br>
    <div class="container">
        <h2 id="camp-header" >BOOTCAMPS AND TOURNAMENTS</h2> <br>
        <div class="row">
            <div class="col-md-6">
                <!-- <img src="/frontend/src/assets/images/btcimage.jpg" alt="image"> -->
                <img id="camp-image"  src="./assets/images/btcimage2.jpg" alt="image"><br> <br>

                <div class="card" id="camp-card">
                  <h4>Previous Bootcamps</h4>
                  <a href="">Teens bootcamp August 2021</a>
                  <a href="">Men's under 22 April 2022 bootcamp</a>
                  <a href="">Women's annual basketball sensitization</a>
                  <a href="">Under 20's basketball workout February 2021</a> 
                </div>
                

            </div>
            <div class="col-md-6">
              <div class="container text-center" id="camp-container" >
                <img id="teen-image1" src="./assets/images/teensbtc.jpg" alt="girls-image">
                <img id="teen-image2" src="./assets/images/teensbtc2.jpg" alt="girls-image">
                <h2>Teens Bootcamp</h2>
                <h4>20-08-2022</h4>
                <button class="btn text-center" id="enrollBtn" type="submit" >Enroll</button> <br> <br>
              </div>
                
                <div class="card">
                    <h2 class="text-white" >Upcoming Tournaments</h2>
                    <a href="">Basketball at the Olympics</a>
                    <a href="">FIBA Basketball World Cup</a>
                    <a href="">AfroBasket</a>
                    <a href="">EuroBasket</a>
                    <a href="">FIBA AmeriCup</a>
                    <a href="">FIBA Asia Cup</a>
                    <a href="">FIBA Oceania Championship</a> <br>

                </div>
                <br>
            </div>
        </div>
    </div>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>