@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
.body{
   display: flex;
   /* align-items: center; */
   justify-content: center;

   /* border: #000 1px solid; */
   margin: 1em;

 }

 .main-image{
   margin: 2em;
   /* border: #000 1px solid; */

 }

 .side-image{
   margin: 5em;
   /* border: #000 1px solid; */
 }

h1{
    color: #F80000;
    font-family:cursive;
    font-size: 50px;
}
 .one{
   display: flex;
 }
 
 li{
    font-size: small;
    /* border: #F80000 1px solid; */
 }
 .column{
  float: left;
  margin:1em;
}

