h1{
    color: #F80000;
    font-family:cursive;
}
 .one{
margin-left: 100px;
width: 500px;
height:600px;
 }
 .two{
    width: 500px;
    height:350px;
    margin-top:50px;
  
 }
 li{
    font-size: small;
 }

 video{
    margin-left: 35px;
 }
 h4{
    margin-left: 35px;
 }

 .red-div{
   background-color: #F80000;
   height: 200px;
   position: relative;
   margin-top: 120px;
 }

 .body{
   display: flex;
   position: absolute;
 }

 .row2{
   margin-top: 320px;
 }
