<app-navbar></app-navbar>
<div class="my-container">
    <h1 class="text-center mt-4"> All things yoga</h1>

    <!-- <div class="row"> -->
      <div class="red-div"></div>

      <div class="body">
        <div class="main-image">
          <div class="card one">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="../../assets/yoga.jpeg" class="img-fluid" />
              <a href="#!">
              
              </a>
            </div>
          </div>
          </div>
        <div class="side-image">
        <div class="card two">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="../../assets/yoga3.jpeg" class="img-fluid"  style ="width: 500px;
              height:350px;"/>
              <a href="#!">
                
              </a>
            </div>
          </div>
        <h3 class="mt-1 mb-0"> Why Yoga?</h3>
        <ol>
              <li>Increase Core Strength</li>
              <li>Flexibility</li>
              <li>Increase Flexibility and Range of Motion.</li>
              <li> Improve Balance.</li>
              <li>Develop Deep, Relaxed Breathing.</li>
              <li> Better Injury Prevention</li>
              <li>Enhanced Recovery</li>
              <li>Improved Focus</li>
            
        </ol>
        </div>
      </div>
       
    <!-- </div> -->


<div class="container">
    <div class="column">
      <iframe width="320" height="240" src="https://www.youtube.com/embed/v7AYKMP6rOE" title="Yoga For Complete Beginners - 20 Minute Home Yoga Workout!" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <h4>Pigeon pose</h4>
    </div>
    <div class="column">
      <iframe width="320" height="240" src="https://www.youtube.com/embed/g7Uhp5tphAs" title="Forward Fold Yoga Pose - Yoga With Adriene" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <h4>Leaning forward</h4>
    </div>
    <div class="column">
      <iframe width="320" height="240" src="https://www.youtube.com/embed/aAHySR-bJBw" title="How to do crescent lunge | Yoga for beginners | 5 minute yoga" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <h4>Cresent Lunge</h4>
    </div>
</div>
</div>

