<div class="form-gap"></div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4 col-md-offset-4 reset-form">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <p>Enter your new password.</p>
                        <div class="panel-body">
                            <form id="register-form" role="form" [formGroup]="resetFormComplete" (ngSubmit)="resetPasswordComplete()" autocomplete="off" class="form">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i
                                                class="glyphicon glyphicon-envelope color-blue"></i></span>
                                        <input id="password" name="password" formControlName="password"
                                            placeholder="Password" class="form-control" type="password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input name="recover-submit" class="btn btn-lg btn-primary btn-block mt-3"
                                        value="Reset Password" type="submit">
                                </div>
                                <input type="hidden" class="hide" name="token" id="token" value="">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>