<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>KWHoops</title>
</head>

<body>
  <!-- home section  -->
  <app-navbar></app-navbar>
  <section class="home container-fluid" id="home">
    <div class="homepage">
      <h1 class="main-page-title">
        BE THE BASKETBALL <br /><br>
        STAR AND SHINE
      </h1>
      <p>One step at a time</p>
      <a type="button" class="btn btn-danger" href="#plans">
        Become a member
      </a>
    </div>
  </section>

  <!--About section  -->
  <br />
  <section class="about container-fluid" id="about">
    <div class="aboutpage">
      <div class="row">
        <div class="col-md-6">
          <div class="box5">
            <h1 class="main-page-title">
              GROW YOUR SKILL <br />
              AS WE RISE TOGETHER
            </h1>
            <p>
              Basketball, a Team Sport that showcases Individual Talent.<br>It involves plenty of teamwork while also
              letting individual talent really shine.
            </p>
            <p><i class="bi bi-star-fill"></i>&#9733; Trainings</p>
            <p><i class="bi bi-star-fill"></i>&#9733; Diet</p>
            <p><i class="bi bi-star-fill"></i>&#9733; Upcoming Bootcamps</p>
            <p><i class="bi bi-star-fill"></i>&#9733; Yoga</p>
            <p><i class="bi bi-star-fill"></i>&#9733; Workouts</p>
            <button type="button" class="btn btn-danger" routerLink="about">
              Read More
            </button>
            <br />
          </div>
        </div>
        <div class="col-md-6">
          <div class="box4">
            <br />
            <iframe width="500" height="365" src="https://www.youtube.com/embed/pdYcIPDTg4s"
              title="Angola - Kenya | Highlights - FIBA AfroBasket 2021 Qualifiers" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
  <hr />

  <!--Services section  -->

  <section class="service container-fluid p-4" id="service">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-3">
        <h1 class="service-heading">OUR </h1>
        <h1 class="service-heading">SERVICES</h1>
        <br>
        <div class="column1">
          <div class="card card-one">
            <img src="" alt="" height="200" />
            <h4 class="service-title">Diet</h4>
          </div>
        </div>
      </div>
      <div class="col-md-7 p-4">
        <div class="column1">
          <a routerLink="training" routerLinkActive="active-link">
            <div class=" card card-two">
              <img src="" alt="" height="200" />
              <h4 class="service-title">Training</h4>
              <h5></h5>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="column1">
          <a routerLink="workouts" routerLinkActive="active-link">
            <div class=" card card-three">
              <img src="" alt="" height="200" />
              <h4 class="service-title">Workouts</h4>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="column1">
          <a routerLink="yoga" routerLinkActive="active-link">
            <div class=" card card-four">
              <img src="" alt="" height="200" />
              <h4 class="service-title">Yoga</h4>
              <h5></h5>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="column1">
          <div class=" card card-five">
            <img src="" alt="" height="200" />
            <h4 class="service-title">Tournaments</h4>
            <h5></h5>
          </div>
        </div>
      </div>
    </div>
  </section>
  <br />
  <!-- <div class="container">
      <div class="row">
        <div class="column1">
          <div class="card">
            <img src="/assets/images/workit.avif" alt="" height="200" />
            <h5>Workouts</h5>
          </div>
        </div>
        <div class="column1">
          <div class="card">
            <img src="/assets/images/food.avif" alt="" height="200" />
            <h5>Diet</h5>
          </div>
        </div>
        <div class="column1">
          <div class="card">
            <img src="/assets/images/train.avif" alt="" height="200" />
            <h5>Training</h5>
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="column1">
          <div class="card">
            <img src="/assets/images/yoga1.avif" alt="" height="200" />
            <h5>Yoga</h5>
          </div>
        </div>
        <div class="column1">
          <div class="card">
            <img src="/assets/images/tourna.avif" alt="" height="200" />
            <h5>Tournament</h5>
          </div>
        </div>
      </div>
    </div>
    <br /> -->


  <hr />
  <!--Plans section  -->

  <section class="plans container-fluid" id="plans">
    <br>
    <h1 class="plans-heading pb-3">OUR PAYMENT PLANS</h1>
    <br>
    <div class="planspage">
      <div class="columns">
        <div class="card card-plan p-4">
          <h5 class="card-title card-plan-title">7 Day Free Trial</h5>
          <div class="card-body">
            <p class="card-text card-text-plan">0$</p>
            <button (click)="payFreeTrial(0)" value="7 Day Free Trial" class="btn btn-danger btn-block">Choose
              plan</button>
          </div>
        </div>
      </div>
      <div class="columns ">
        <div class="card card-plan p-4">
          <h5 class="card-title card-plan-title">Monthly</h5>
          <div class="card-body">
            <p class="card-text card-text-plan">10$</p>
            <button (click)="payMonthlyTrial(10)" class="btn btn-danger btn-block">Choose plan</button>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="card card-plan p-4">
          <h5 class="card-title card-plan-title">Annually</h5>
          <div class="card-body">
            <p class="card-text card-text-plan">$120</p>
            <button (click)="payAnnualTrial(20)" class="btn btn-danger btn-block">Choose plan</button>
          </div>
        </div>
      </div>

      <!-- <ul class="price">
            <li class="header">Free Trial(7 days)</li>
            <li class="grey">$ 0</li>
            <li class="grey">Unlimited Access to Home Club</li>
            <li class="grey">Free Fitness Training</li>
            <li class="grey">Free training session with a Club</li>
            <li class="grey">Over 16 free group fitness classes</li>
            <li class="grey">Free functional movement screen</li>
            <li class="header">
              <a routerLink="plans" class="button">Choose plan</a>
            </li>
          </ul> -->


      <!-- <div class="columns">
          <ul class="price">
            <li class="header">Monthly</li>
            <li class="grey">$ 10 / month</li>
            <li class="grey">Unlimited Access to Home Club</li>
            <li class="grey">Free Fitness Training</li>
            <li class="grey">Free training session with a Club</li>
            <li class="grey">Over 16 free group fitness classes</li>
            <li class="grey">Free functional movement screen</li>
            <li class="header">
              <a routerLink="plans" class="button">Choose plan</a>
            </li>
          </ul>
        </div> -->

      <!-- <div class="columns">
          <ul class="price">
            <li class="header">Annually</li>
            <li class="grey">$120 / year</li>
            <li class="grey">Unlimited Access to Home Club</li>
            <li class="grey">Free Fitness Training</li>
            <li class="grey">Free training session with a Club</li>
            <li class="grey">Over 16 free group fitness classes</li>
            <li class="grey">Free functional movement screen</li>
            <li class="header">
              <a routerLink="plans" class="button">Choose plan</a>
            </li>
          </ul>
        </div> -->
    </div>
  </section>
</body>

</html>