<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Lato&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <app-navbar></app-navbar>
      <br>
        <h1 id="header" >Vegan Meal Plan</h1>
        <p class="text-center">
            A person on a vegan diet refrains from consuming animal protein, as well as, animal products. This includes any type of meat, seafood, dairy, milk, eggs, cheese and honey. <br><br>
            Additionally, a vegan diet can be personalized. For instance, someone may avoid using animal tested makeup for concern of animal rights and welfare. Or for health reasons choose a raw vegan diet –– eating mostly uncooked and unprocessed foods.
        </p> 
    </div>
    
<div class="container">
    <img id="veget-image" class="responsive" src ="./assets/images/vegan.jpg" alt=" image">
</div>

<div class="container">
    <h2 id="benefits-header" >Health benefits of a vegan diet</h2>
    <p class="text-center">Jeffrey Soble, MD, a cardiologist at Rush University Medical Center, began eating a plant-based diet nearly two year ago. <br> <br>

        Like others, improving his health — he has a family history of heart disease — played a significant role in that decision. Research has shown that a vegan diet can help do the following: <br><br>
        
        - Promote weight loss <br>
        - Reduce your risk of heart disease by lowering cholesterol levels <br>
        - Lower your chances of getting certain types of cancer, such as colon cancer <br>
        - Manage diabetes by lowering A1C levels <br>
    </p> 

</div>

      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
