.form-gap {
    padding-top: 70px;
}

.reset-password-form{
    width: 70%;
}

.btn-primary{
    background-color: #E80000;
    border-color: #E80000;
}

.reset-form{
    border:solid 1px black;
    padding: 2em;
    box-shadow: 10px 10px 5px black;
}