<div class="container mt-5" id="container">
    <div class="form-container sign-up-container">
        <form action="#" [formGroup]="registrationForm!" (ngSubmit)="userRegistration(loginBtn)">
            <h1>Create Account</h1>
            <input formControlName='username' type="text" placeholder="Username" required />
            <input formControlName='email' type="email" placeholder="Email" />
            <input formControlName='password' type="password" placeholder="Password" />
            <button type="submit">Sign Up</button>
        </form>
    </div>
    <div class="form-container sign-in-container">
        <form action="#" [formGroup]="formGroup" (ngSubmit)="userLogin()">
            <h1>Sign in</h1>
            <input formControlName="email" name="email" type="email" placeholder="Email" required />
            <input formControlName="password" name="password" type="password" placeholder="Password" />
            <a routerLink="reset-password" routerLinkActive="active-link">Forgot your password?</a>
            <button type="submit">Sign In</button>
        </form> 
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p class="welcome-text">To keep connected with us please login with your personal info</p>
                <button class="ghost" id="signIn" #loginBtn>Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hello, Friend!</h1>
                <p class="welcome-text">Enter your personal details and start your journey with us</p>
                <button class="ghost" id="signUp">Sign Up</button>
            </div>
        </div>
    </div>
</div>


