<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #E80000;">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">KW Hoops</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav ms-auto px-1">
        <li class="nav-item">
          <a class="nav-link active" routerLink="" routerLinkActive="active-link">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about" routerLinkActive="active-link">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="training" routerLinkActive="active-link">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="plans" routerLinkActive="active-link">Plans</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="auth" routerLinkActive="active-link">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="logout" routerLinkActive="active-link">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>