<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #E80000;">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">&#x2605; KW Hoops</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav ms-auto px-1">
        <li class="nav-item">
          <a class="nav-link active" style="color:white;" routerLink="" routerLinkActive="active-link">Home</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" style="color:white;" routerLink="about" routerLinkActive="active-link">About</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" style="color:white;" routerLink="training" routerLinkActive="active-link">Training</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:white;" routerLink="workouts" routerLinkActive="active-link">Workouts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:white;" routerLink="yoga" routerLinkActive="active-link">Yoga</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:white;" routerLink="diet" routerLinkActive="active-link">Diet</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:white;" *ngIf="!service.isLoggedIn()" routerLink="auth" routerLinkActive="active-link">Login</a>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-dark" (click)="loggedOut()" *ngIf="service.isLoggedIn()" >Logout</button>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" style="color:white;" routerLink="logout" routerLinkActive="active-link">Logout</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>