<div class="container-fluid">
    <div class="video">
        <style>
            .gradient-custom {
              /* fallback for old browsers */
              background: #a18cd1;
          
              /* Chrome 10-25, Safari 5.1-6 */
              background: -webkit-linear-gradient(
                45deg,
                rgba(108, 112, 111, 0.6),
                rgba(91, 14, 214, 0.6) 100%
              );
            }
          </style>
          
          <!-- Background image -->
          <div
            class="bg-image"
            style="
              background-image: url('https://images.unsplash.com/photo-1533560586907-f0bd1db0da77?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGJhc2tldGJhbGwlMjB3b3Jrb3V0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
              height: 40vh;
            "
          >
            <div class="mask gradient-custom">
              <div class="d-flex justify-content-center align-items-center h-100">
                <h1 class=" mb-0">Workouts</h1>
              </div>
            </div>
          </div>
          <!-- Background image -->
    </div>

    <!-- <div lass="row">
        <div class="column">
            <video width="320" height="240" controls>
                <source src="https://www.youtube.com/watch?v=v7AYKMP6rOE" type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
              Your browser does not support the video tag.
              </video>
          </div>
          <div class="column">
            <video width="320" height="240" controls>
                <source src="https://www.youtube.com/watch?v=v7AYKMP6rOE" type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
              Your browser does not support the video tag.
              </video>
          </div>
          <div class="column">
            <video width="320" height="240" controls>
                <source src="https://www.youtube.com/watch?v=v7AYKMP6rOE" type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
              Your browser does not support the video tag.
              </video>
          </div>
    </div>
    <div class="row">
        <div class="column">
            <video width="320" height="240" controls>
                <source src="https://www.youtube.com/watch?v=v7AYKMP6rOE" type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
              Your browser does not support the video tag.
              </video>
          </div>
          <div class="column">
            <video width="320" height="240" controls>
                <source src="https://www.youtube.com/watch?v=v7AYKMP6rOE" type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
              Your browser does not support the video tag.
              </video>
          </div>
    </div>
 -->

</div>
 
