h1{
    color: #F80000;
    font-family:cursive;
}

.col-md-4 {
    float: left;
    width: 33.33%;
    padding: 40px;
  }
  .col-md-8 {
    float: left;
    width: 33.33%;
    padding: 40px;
  }
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .wrapper {
    /* text-align: center;
    display: inline-block;
    position: absolute; */
    margin-left: 15%;
  }
  .btn{
    margin-left: 1%;
  }