<div class="container-fluid">
    <div class="video">
        <style>
            .gradient-custom {
              /* fallback for old browsers */
              background: #a18cd1;
          
              /* Chrome 10-25, Safari 5.1-6 */
              background: -webkit-linear-gradient(
                45deg,
                rgba(108, 112, 111, 0.6),
                rgba(91, 14, 214, 0.6) 100%
              );
            }
          </style>
          
          <!-- Background image -->
          <div
            class="bg-image"
            style="
              background-image: url('../../assets/workout 2.jpg');
              height: 50vh;
            "
          >
            <div class="mask gradient-custom">
              <div class="d-flex justify-content-center align-items-center h-100">
                <h1 class=" mb-0">Workouts</h1>
              </div>
            </div>
          </div>
          <!-- Background image -->
    </div>
    <h2 class="wrapper">Categories</h2>
    <div class="wrapper">
      <button class="btn btn-info mt-2 ">Endurance</button>
      <button class="btn btn-info">Strength</button>
      <button class="btn btn-info">Balance</button>
      <button class="btn btn-info">Flexibility</button>

    </div>
    <div lass="row">
        <div class="col-md-4">
            <video width="320" height="240" controls>
                <source src="https://www.youtube.com/watch?v=v7AYKMP6rOE" type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
              Your browser does not support the video tag.
              </video>
          <!-- </div>
          <div class="column"> -->
            <video width="320" height="240" controls>
                <source src="https://www.youtube.com/watch?v=v7AYKMP6rOE" type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
              Your browser does not support the video tag.
              </video>
          <!-- </div> -->
          <!-- <div class="column"> -->
            <video width="320" height="240" controls>
                <source src="https://www.youtube.com/watch?v=v7AYKMP6rOE" type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
              Your browser does not support the video tag.
              </video>
          </div>
        <div class="col-md-4">
            <video width="320" height="240" controls>
                <source src="https://www.youtube.com/watch?v=v7AYKMP6rOE" type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
              Your browser does not support the video tag.
              </video>
          <!-- </div> -->
          <!-- <div class="column"> -->
            <video width="320" height="240" controls>
                <source src="https://www.youtube.com/watch?v=v7AYKMP6rOE" type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
              Your browser does not support the video tag.
              </video>
          <!-- </div> -->
    </div>
    <div class="col-md-4">
     <h2>Resources</h2>
     <h5>Lateral Lunges</h5>
     <p>Why you should do it: The lateral lunge mimics basketball’s standard defensive shuffling motion. More importantly, it opens up the muscles of the groin and hips.
    </p>
     <h5>Glute Bridge</h5>
     <p>Why you should do it: To improve the firing and muscle-recruitment patterns of the glutes, which are important for jumping and explosive movements.</p>
     <h5>Leg curl</h5>
     <p>Why you should do it: Like the glute bridge, this keeps the hips extended and forces the hamstrings to work, ultimately improving leaping ability and posterior strength.
    </p>
</div>


</div>
 
