<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KWHoops</title>
</head>

<body>

  <app-navbar></app-navbar>
  <h1>Trainings</h1>
  <div class="container-fluid">
    <div class="row row-cols-3 row-cols-md-2 g-4">
      <div class="col">
        <iframe width="525" height="315" src="https://www.youtube.com/embed/BSzSt1NWAwU"
          title="Youth Basketball Skills Training - Coach Lyonel Anderson" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
      <div class="col">
        <iframe width="525" height="315" src="https://www.youtube.com/embed/DdfWxlFoENw"
          title="LAKERS Coach Reveals PRO Ball Handling Secrets 🤫 [At Home Workout!]" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
      <div class="col">

        <iframe width="525" height="315" src="https://www.youtube.com/embed/moPEMNHmwc4"
          title="How To GET BETTER HANDLES In Just 5 Minutes a Day (DO THIS DAILY!!)" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>

      </div>
      <div class="col">
        <iframe width="525" height="315" src="https://www.youtube.com/embed/7JFq4cRTmAA"
          title="10 Min Ball Handling & Conditioning Workout That'll Transform Your Handles In Less Than A Month!"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>
  </div>
</body>

</html>