

* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #FAF6F9;
    font-family: 'Lato', sans-serif;
  }

  #diet-container {
    height: auto;
    padding-bottom: 30px;
  }

  #plans-header {
    text-align: center;
    padding: 5px;
    font-size: 70px;
    font-weight: 800;
    padding-bottom: 20px;
  }

  #diet-header {
    color: #E80000;
    font-size: 80px;
    font-family: 'Dancing Script', cursive;
    font-weight: 900;
  }

  #paragraph-header {
    font-weight: 600;
    font-size: 60px;
    padding-top: 40px;
  }

  .paragraph-details {
    font-size: large;
    padding-right: 50px;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 32%;
    padding: 0 25px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  #plans-container {
    padding: 20px;
    height: auto;
    padding-bottom: 50px;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }

    .responsive {
      width: 100%;
      height: auto;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 50px;
    height: 300px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #FFFFFF;
    background-color: #E80000;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  } 

  #top-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 25px;
    height: 180px;
    text-align: center;
    color: white;
    background-image: url("/assets/images/dietbckg.jpg");
    opacity: 0.6;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  #diet-image {
    width: 65%;
    height: 550px;
    float: left;
  }

  