/* You can add global styles to this file, and also import other style files */

/* 
font-family: 'Dancing Script', cursive;
font-family: 'Lato', sans-serif;
*/

/* Global CSS */
body{
    font-family: 'Lato', sans-serif;
}

/* CSS for SignUp and Sign In Page */

.reg-page{
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.welcome-title {
    font-weight: bold;
    margin: 0;
}

.welcome-text{
    font-size: 16px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
    padding: 6vw;
    font-family: 'Dancing Script', cursive;
}

.forgot-password{
    color: #000000;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

.auth-button{
    border-radius: 20px;
    border: 1px solid #e80000;
    background-color: #e80000;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

.auth-button:active {
    transform: scale(0.95);
}

.auth-button:focus {
    outline: none;
}

.auth-button .overlay-btn {
    background-color: transparent;
    border-color: #ffffff;
}

.reg-form{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

.reg-inputs{
    background-color: #faf9f6;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.reg-page .right-panel-active .sign-in-container {
    transform: translateX(100%);
}

.reg-page .right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.reg-page .right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.overlay {
    background: #e80000;
    background: -webkit-linear-gradient(to right, #e80000, #ec2626);
    background: linear-gradient(to right, #e80000, #ec2626);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #ffffff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.reg-page .right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-left {
    transform: translateX(-20%);
}

.reg-page .right-panel-active .overlay-left {
    transform: translateX(0);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.reg-page .right-panel-active .overlay-right {
    transform: translateX(20%);
}

@keyframes show {
    0%,49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,100% {
        opacity: 1;
        z-index: 5;
    }
}