/* You can add global styles to this file, and also import other style files */

/* 
font-family: 'Dancing Script', cursive;
font-family: 'Lato', sans-serif;
*/

/* Global CSS */
body{
    font-family: 'Poppins', sans-serif;
}

/* CSS for SignUp and Sign In Page */


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
