<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KWHoops</title>
</head>
<body>
  
  
    
    <!-- home section  -->

     <section class="home container-fluid" id="home">
      <div class="homepage" >
        <h1>BE THE BASKETBALL <br> STAR AND SHINE </h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>
        <button type="button" class=" btn btn-danger" routerLink="plans">Become a member</button>
      </div>
  
      
    </section> 

         <!--About section  -->

         <section class="about container-fluid" id="about">
          <div class="aboutpage">
              <div class="row">
                <div class="col-md-6">
                <div class="box5">
                  <h1>GROWING YOUR SKILL <br> AS WE RISE TOGETHER </h1>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima repudiandae nam ipsam saepe magnam debitis nemo reprehenderit commodi perspiciatis rem. </p>
                    <p><i class="bi bi-star-fill"></i> Trainings</p>
                    <p><i class="bi bi-star-fill"></i> Diet</p>
                    <p><i class="bi bi-star-fill"></i> Upcoming Bootcamps</p>
                    <p><i class="bi bi-star-fill"></i> Yoga</p>
                    <p><i class="bi bi-star-fill"></i> Workouts</p>
                  <button type="button" class=" btn btn-danger" routerLink="about">Read More</button>
                  <br>
                </div>
              </div>
              <div class="col-md-6">
                
                 <div class="box4">
                  <br>
                  <iframe width="500" height="365" src="https://www.youtube.com/embed/pdYcIPDTg4s" title="Angola - Kenya | Highlights - FIBA AfroBasket 2021 Qualifiers" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                
                   </div> 
              </div>
            </div>
          </div>
        </section> 
        <hr>

                 <!--Services section  -->

                 <section class="service container-fluid" id="service">
                  <div class="servicepage">
                     <h1>OUR SERVICES </h1>
                  </div>

<div class="container">
      <div class="row">
  
        <div class="col-md-4">
          <div class="box1">
            <img src="/assets/images/workout.png" alt="" height="200" >
            <p>Workouts</p>
        </div>
      </div>
        <div class="col-md-4">
         <div class="box2">
          <img src="/assets/images/diet.png" alt="" height="200" >
          <p>Diet</p>
         </div>
        </div>
        <div class="col-md-4">
          <div class="box3">
            <img src="/assets/images/training.png" alt="" height="200" >
            <p>Training</p>
             </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="box4">
            <img src="/assets/images/yoga.png" alt="" height="200" >
            <p>Yoga</p>
             </div>
        </div>
        <div class="col-md-6">
        <div class="box5">
          <img src="/assets/images/tournament.png" alt="" height="200" >
          <p>Tournament</p>
        </div>
      </div>
      
    </div>
  </div> 
                

  </section> 
 
  <hr>
                 <!--Plans section  -->

                 <section class="plans container-fluid" id="plans">
                  <div class="planspage">
                    
                     <h1>OUR PAYMENT PLANS </h1>
                    
                     <div class="columns">
                      <ul class="price">
                        <li class="header">Daily</li>
                        <li class="grey">$ 0.99 / day</li>
                        <li class="grey">Unlimited Access to Home Club</li>
                        <li class="grey">Free Fitness Training</li>
                        <li class="grey">Free training session with a Club</li>
                        <li class="grey">Over 16 free group fitness classes</li>
                        <li class="grey">Free functional movement screen</li>
                        <li class="header"><a routerLink="plans" class="button">Choose plan</a></li>
                      </ul>
                    </div>
                    
                    <div class="columns">
                      <ul class="price">
                        <li class="header">Monthly</li>
                        <li class="grey">$ 10 / month</li>
                        <li class="grey">Unlimited Access to Home Club</li>
                        <li class="grey">Free Fitness Training</li>
                        <li class="grey">Free training session with a Club</li>
                        <li class="grey">Over 16 free group fitness classes</li>
                        <li class="grey">Free functional movement screen</li>
                        <li class="header"><a routerLink="plans" class="button">Choose plan</a></li>
                      </ul>
                    </div>

                    <div class="columns">
                      <ul class="price">
                        <li class="header">Annually</li>
                        <li class="grey">$120 / year</li>
                        <li class="grey">Unlimited Access to Home Club</li>
                        <li class="grey">Free Fitness Training</li>
                        <li class="grey">Free training session with a Club</li>
                        <li class="grey">Over 16 free group fitness classes</li>
                        <li class="grey">Free functional movement screen</li>
                        <li class="header"><a routerLink="plans" class="button">Choose plan</a></li>
                      </ul>
                    </div>
                  </div>
                 </section>

                </body>
                </html>  
