body {
    background-color: #FAF6F9;
    font-family: 'Lato', sans-serif;
}

#header {
    color: #E80000;
    font-size: 80px;
    font-family: 'Dancing Script', cursive;
    font-weight: 800;
    text-align: center;
}

#veget-image {
    width: 100%;
    height: auto;

}

#benefits-header {
    color: #E80000;
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    font-weight: 500;
    padding: 15px;
    text-align: center;
}